.ipynb_checkpoints/
data_pgadmin/
ny_taxi_postgres_data/
pg_data/
ny_taxi_postgres_data
gcs.json
yellow_tripdata_2024-01.parquet
yellow_tripdata_2024-02.parquet
yellow_tripdata_2024-03.parquet
yellow_tripdata_2024-04.parquet
yellow_tripdata_2024-05.parquet
yellow_tripdata_2024-06.parquet
flow/

yellow_tripdata_2024-10-repartitioned.parquet
yellow_tripdata_2024-10.parquet
taxi_zone_lookup.csv
